.button {
  width: 100%;
  height: 3rem;

  background-color: var(--primary-color);
  border: none;
  border-radius: 0.5rem;

  color: white;
  font-weight: bold;

  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--secondary-color);
}